body {
   /* background-color: whitesmoke;*/
    background-image: url('https://live.staticflickr.com/8230/8410882716_2604e5af6b_b.jpg');
}

/*Rekisteröinnin tyyli */
th, b{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    margin: auto;
    background-color: rgb(45, 45, 102);
    max-width: 50%;
    text-align: center;
    margin-left: 25%;
    border-radius: 10%;
    border-style: outset;
    border-color: whitesmoke;
    padding-top: 25px;
    margin-top: 75px;
}
.textfield {
    background-color:rgb(240, 240, 255);
border-style: groove;
border-radius: 10%;
}
.nappi{
background-color: white;
color:rgb(45, 45, 102) ;
border-radius: 6%;
border-color: white ;
border-style: solid;
}

h1{
    font-size: 3vw;
    color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p, b {
    color: white;
}

/*NavBar Tyyli */
.navbar{
    background-color: rgb(45, 45, 102);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1000;
}
.nav-links{
    list-style: none;
    Display:flex;
    gap:15px;
}/*Piilottaa isoilla näytöillä pienelle näytölle tarkoitetut muutokset */
.nav-links.hidden{
    display: none;
}
.menu-icon {/* Näytetään pienellä näytöllä, voi avata navbarin. */
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none; /* Näytetään vain pienillä näytöillä */
}
/* Navbar tekstit */
.nav-links a {
    text-align: center;
    text-decoration: none;
    color:  white;
    font-size: clamp(14px, 2vw, 18px);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 15px;
    border-radius: 5%;
    transition: background-color 0.3s, color 0.3s; /*Hover efekti */
}

.nav-links a:hover{
    background-color: rgb(65, 65, 143) ;
    color: rgb(216, 239, 255);
}
/*Puhelimen näkymä, joka piilottaa navigointipalkin oikein näkymän perusteella */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(45, 45, 102);
        width: 100%;
        padding: 20px 0;
    }
    .nav-links.hidden{
        display: none;
    }
    .nav-links a{
        padding: 15px 20px;
        font-size: clamp(10px,4vw,20px);
    }
}